@model IEnumerable<Projeto.Models.Clientes>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Projeto.styles.css" asp-append-version="true" />
<h1>Clientes</h1>

<p>
     <a class="color" asp-action="Create"><button type="button" class="btn btn-success">Cadastrar Novo Cliente</button></a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                 <a asp-action="Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-warning">Editar</button></a> |
                <a asp-action="Details" asp-route-id="@item.Id"><button type="button" class="btn btn-primary">Detalhar</button></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-danger">Deletar</button></a>
            </td>
        </tr>
}

</table>
